apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  namespace: yash-ns
spec:
  serviceName: mongodb
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:latest
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: veg-config
                  key: MONGO_INITDB_DATABASE
          volumeMounts:
            - mountPath: /data/db
              name: mongo-data
  volumeClaimTemplates:
    - metadata:
        name: mongo-data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: veg-sc
        resources:
          requests:
            storage: 1Gi
